In [2]:
import os
import pandas as pd
import mysql.connector
from dotenv import load_dotenv
from sqlalchemy import create_engine,text

In [3]:
load_dotenv()
HOST = os.getenv("host")
PASSWORD = os.getenv("password")
USER = os.getenv("user")
PORT = os.getenv("PORT")

In [4]:
df_2009_2010 = pd.read_csv("Year_2009_2010.csv")
df_2010_2011 = pd.read_csv("Year_2010_2011.csv")

In [11]:
cursor_2009_2010 = db_2009_2010.cursor()
cursor_2010_2011 = db_2010_2011.cursor()

In [14]:
server_engine = create_engine(
    f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}:{PORT}"
)

In [20]:
with server_engine.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS retail_2009_2010"))
    conn.execute(text("CREATE DATABASE IF NOT EXISTS retail_2010_2011"))

In [23]:
def load_to_sql(df, db_name, table_name):
    engine = create_engine(
        f"mysql+mysqlconnector://{USER}:{PASSWORD}@{HOST}:{PORT}/{db_name}"
    )

    df.to_sql(
        name = table_name,
        con=engine,
        if_exists = "replace",
        index=False
    )

    print(f"Loaded {len(df)} rows into {db_name}.{table_name}")

In [24]:
load_to_sql(df_2009_2010, "retail_2009_2010", "retail_data")
load_to_sql(df_2010_2011, "retail_2010_2011", "retail_data")

Loaded 525461 rows into retail_2009_2010.retail_data
Loaded 541910 rows into retail_2010_2011.retail_data